@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Zen+Dots&display=swap');

html{
    --bg: #140c23;
}

body{
    background-color: var(--bg);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calculadora{
    background-color: #5c5c6b;
    box-shadow: 0 0 20px #6f74a9;
    border-radius: 40px;
    scale: 1.1;
}

.divresultado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 120px;
    background-color: #373941;
    border-radius: 35px 35px 0px 0px;
}

.div__inputResultado{
    display:flex;
    font-family: 'Orbitron', sans-serif;
    font-size: 29px;
    color: #214115;
    font-weight: 600;
    text-align: right;
    width: 290px;
    height: 60px;
    border-radius: 10px 10px;
    background-color: #7aff4d;
    border: 3px solid #9dff7c;
}

.operacoes{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.num{
    width: 55px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid #7c7c80;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
    background-color: #c3c3c3;
    color: rgb(56, 56, 56);
    cursor: pointer;
}

.itens-calc-numerosop{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.digito{
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
}

.refresh{
    background-color: #ff6161;
    border: 1px solid #a25959;
}

.igual{
    background-color: #68e1ff;
    border: 1px solid #69c7ed;
}

.excluir{
    background-color: #faff76;
    border: 1px solid #dad268;
}

.checkbox{
    height: 0;
    width: 0;
    visibility: hidden;
}

.labelCheckbox{
    cursor: pointer;
    width: 52px;
    height: 27px;
    background: #373941;
    float: right;
    border-radius: 100px;
    position: relative;
}

.labelCheckbox::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.2s linear;
}

.checkbox:checked + .labelCheckbox::after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}